html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    margin: 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.subheader {
    background-color: #1F2937;
    margin: 0;
    height: 350px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    margin-right: 30px;
    width: 500px;
}

.intro h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
h1, h2, p {
    margin: 0;
}

.intro p {
    font-size: 18px;
    width: 450px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    width: 120px;
    font-size: 16px;
    color: #F9FAF8;
    border: #3882F6;
    margin-top: 20px;
    height: 30px;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 400px;;
}

.info img {
    border: 5px solid #3882F6;
    border-radius: 20px;
    height: 150px, 100px;
}

.container {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 75%;
}

.image p {
    width: 150px;
    text-align: center;
}

.info h2 {
    font-size: 36px;
    font-weight: bold;
}

.quote {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.box {
    display: flex;
    flex-direction: column;
}

.credit {
    font-weight: bold;
    font-size: 24px;
    color: #1F2937;
    align-self: flex-end;
}
.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
    font-family: sans-serif;
    width: 850px;
}